.arrow-header {
  z-index: 10;
  border-radius: 1px solid;
}
.arrows {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.arrows:hover .arrow-left,
.arrows:hover .arrow-right{
  opacity: 1;
  z-index: 10;
}
.arrow-left {
  width: 40px;
  height: 100%;
  position: absolute; 
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition:  0.3s ease-out ;
  background: hsla(0,0%,8%,.7);
}

.arrows:hover .arrow-left.hidden {
  opacity: 0;
}

.arrow-right {
  width: 40px;
  height: 100%;
  position: absolute;
  right: 0;
  align-items: 'center';
  justify-content: 'center';
  background: hsla(0,0%,8%,.7);
  opacity: 0;
  transition: 0.3s ease-out ;
  display: flex;
  align-items: center;
  justify-content: center;
}