.rowHeader {
  line-height: 1.3;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3.5%;
}
.rowHeader h2 {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.rowHeader a {
  cursor: pointer;
  background-color: transparent;
}

.rowTitle {
  color: #e5e5e5;
  display: inline-block;
  font-size: 1.4vw;
  font-weight: 400;
  margin: 0 4% 0.5em;
  min-width: 6em;
  text-decoration: none;
}

.rowHeaderTitle {
  display: table-cell;
  font-size: 1.4vw;
  line-height: 1.25vw;
  vertical-align: bottom;
}
