.header {
  top: 0px;
  position: relative;
  background: transparent;
  left: 0;
  right: 0;
  z-index: 1;
}

.logo-container {
  align-items: center;
  height: 41px;
  display: flex;
  font-size: 1.2rem;
  padding: 0 4%;
  position: relative;
  transition: background-color .4s;
  z-index: 2;
  margin-top: 5px;
  background-image: linear-gradient(180deg,rgba(0,0,0,.7) 10%,transparent);
}

.logo-container img {
  display: inline-block;
  margin-right: 5px;
  vertical-align: middle;
}

.profiles-gate-container {
  background: #141414;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  text-align: center;
  top: 0;
  z-index: 0;
}
.centered-profiles-container {
 
  align-items: center;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 100;
}
.list-profiles {
  max-width: 80%;
}

.list-profiles h1 {
  color: #fff;
  font-size: 3.5vw;
  font-weight: unset;
  width: 100%;
  margin: 0.67em 0;
  opacity: 1;
  transition: opacity .4s ease-out;
}
.list-profiles ul {
  margin: 2em 0;
  opacity: 1;
  transition: opacity .4s ease-out;
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}
.list-profiles li {
  margin: 0 2vw 0 0;
  max-width: 200px;
  min-width: 84px;
  width: 10vw;
  display: inline-block;
  position: relative;
  vertical-align: top;
}
.list-profiles a {
  cursor: pointer;
}
.add-profile {
  align-items: center;
  color: grey;
  display: flex;
  font-size: 5vw;
  height: 10vw;
  justify-content: center;
  max-height: 200px;
  max-width: 200px;
  min-height: 84px;
  min-width: 84px;
  text-align: center;
  text-decoration: none;
  width: 10vw;
}
.list-profiles span {
  color: grey;
  display: block;
  font-size: 1.3vw;
  line-height: 1.2em;
  margin: 0.6em 0;
  min-height: 1.8em;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
}
