
.list-profiles {
  max-width: 80%;
}

.list-profiles h1 {
  color: #fff;
  font-size: 3.5vw;
  font-weight: unset;
  width: 100%;
  margin: 0.67em 0;
  opacity: 1;
  transition: opacity .4s ease-out;
}
.list-profiles ul {
  margin: 2em 0;
  opacity: 1;
  transition: opacity .4s ease-out;
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}
.list-profiles li {
  margin: 0 2vw 0 0;
  max-width: 200px;
  min-width: 84px;
  width: 10vw;
  display: inline-block;
  position: relative;
  vertical-align: top;
}
.list-profiles a {
  cursor: pointer;
}
.add-profile {
  align-items: center;
  color: grey;
  display: flex;
  font-size: 5vw;
  height: 10vw;
  justify-content: center;
  max-height: 200px;
  max-width: 200px;
  min-height: 84px;
  min-width: 84px;
  text-align: center;
  text-decoration: none;
  width: 10vw;
}
.list-profiles span {
  color: grey;
  display: block;
  font-size: 1.3vw;
  line-height: 1.2em;
  margin: 0.6em 0;
  min-height: 1.8em;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
}

