.search-box{
  position:relative;
  height:40px;
  width:0px;
  align-items: center;
  margin-right: 20px;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55 );
}

.search-box.active{
  width: 25ch;
}

.search-box.active input{
  opacity:1;
}

.search-box input{
  height:100%;
  width:100%;
  border: 1px solid white;
  color: white;
  background: #141414;
  font-size: 16px;
  padding: 0 20px 0 30px;
  outline:none;
  opacity:0;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55 );
}


.search-box .search-btn{
  right: 10px;
  position: absolute;
  top: 55%;
  transform: translateY(-50%);
  align-items: center;
  cursor:pointer;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55 );
  z-index:2;
}
