.login-wrapper {

  background-color: black;
  color: white;
  min-height: 100%;
  margin: auto;
  padding: 0;
  position: relative;
  z-index: 0;
}

.login-wrapper-bg {
  background-size: cover;
  display: block;
  height: 100%;
  min-height: 100vh;
  overflow: hidden;
  position: absolute;
  width: 100%;
  z-index: -1;
  opacity: .5;
}

.login-body {
  margin: 0 auto -236px;
    min-height: 100vh;
    background-color: transparent;
    max-width: 450px;

}
.login-body::before {
  content: "";
  height: 91px;
  display: block;
}
.login-body div {
  display: block;
}

.login-form-wrapper {
  min-height: 660px;
  margin-bottom: 90px;
  padding: 60px 68px 40px;
  background-color: rgba(0,0,0,.75);
    border-radius: 4px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 100%;
}
.login-form-main {
  flex-grow: 1;
}
.login-form-main h1 {
  color: #fff;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 28px;
    padding: 0;
}
.login-input {
  padding-bottom: 16px;
  max-width: 100%;
}
.input-control {
  border: 0;
  border-radius: 4px;
  position: relative;
  display: block;
}
.input-id .line {
  border-bottom: 2px solid #e87c03;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  bottom: 0;
  content: "";
  display: block;
  height: 6px;
  left: 0;
  pointer-events: none;
  position: absolute;
  transition: 0.3s ease-out;
  width: 0%;
}
.login-input input {
  background: #333;
  border: 0;
  border-radius: 4px;
  color: #fff;
  height: 50px;
  line-height: 50px;
  padding: 16px 20px 0;
  width: 100%;
  box-sizing: border-box;
}

.login-input input:focus {
  outline: none;
}

.login-input input:focus ~ .place-label,
.login-input input:not(:focus):valid ~ .place-label {
  top: 17px;
  bottom: 10px;
  left: 20px;
  font-size: 11px;
  opacity: 1;
}

.input-id input:focus ~ .line {
  width: 100%;
}
.error {
  color: #e87c03;
  margin-bottom: -6px;
  padding: 6px 3px;
  font-size: 13px;
  min-height: 30px;
}

.login-input .place-label {
  position: absolute;
  color: #8c8c8c;
  font-size: 16px;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  transition: font .1s ease,top .1s ease,transform .1s ease;
}

.login-button {
  border-radius: 4px;
  border: none;
  font-size: 16px;
  font-weight: 700;
  margin: 24px 0 12px;
  max-width: 100%;
  width: 100%;
  padding: 16px;
  color: #fff;
  background-color: #e50914;
}

.login-button:hover {
  background-color: #e50914;
  opacity: 0.8;
}

.login-form-switcher {
  color: #737373;
  font-size: 16px;
  font-weight: 500;
  margin-top: 16px;
}
.login-form-switcher button {
  color: #fff;
  background-color: transparent;
  border: none;
  text-decoration: none;
  cursor: pointer;
}
.login-form-switcher a:hover {
  text-decoration: underline;
}

@media only screen and (min-witdh: 740px){
  .login-body {
    margin: 0 auto -236px;
    min-height: 100vh;
    background-color: transparent;
    max-width: 450px;
  }
  
}