.box {
  margin: 50px 0px 50px 0px;
  padding-bottom: 50px;
  position: absolute;
  border-radius: 5px;
  overflow: hidden;
  top: 50%;
  left: 50%;
  height: 100%;
  transform: translate(-50%, -50%);
  width: 850px;
  display: block;
  align-items: center;
  background: #141414;
  box-shadow: 24px;
 
}
.player-image {
  position: relative;
}
.player-image img {
  width: 100%;
  object-fit: contain;
}

.title-icons {
  width: 100%;
  bottom: 80px;
  margin: 0 20px;
  position: absolute;
}
.icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  width: 100%;
}
.icon {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 40%;

}
.button {
  background-color: rgba(20, 20, 20);
  color: gray;
  border-radius: 40px;
  width: 50px;
  height: 50px;
  align-items: center;
  border: none;
}
.button.volume {
  margin-right: 20px;
}
.button.close {
  position: absolute;
  right: 30px;
  background: #141414;
  top: 20px;
}
.content {
  display: flex;
  color: rgb(175, 175, 175);
  opacity: 0.7;
  padding: 40px;
}
