.mainitem {
  margin-right: 0.5vmin;
  padding: 0 0;
  border-radius: 3px;
  position: relative;
  width: 250px;

}
.innerFrame {
  transition: 0.3s ease-out;
}
.item {
  width: 100%;
  border-radius: 3px;
  overflow: hidden;
}

.item img {
  max-height: 150px;
}

.mainitem.hovered .innerFrame {
  z-index: 2;
  transform: scale(1.2);
  position: absolute;
  opacity: 1;
  object-fit: contain;
}

