* {
  box-sizing: border-box;
}
body {
  padding: 0;
  margin-top: 100px;
  background-color: #141414;
  color: #ffffff;
  font-family: 'Helvetica Neue', sans-serif;
  --color-success-100: #a2f0bc;
  --color-success-500: #12bd4b;

  --color-error-100: #f03c3c;
  --color-error-500: #a10000;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, , sans-serif; */
}

a {
  text-decoration: none;
}
button {
  font: inherit;
  cursor: pointer;
}
h1,
h2,
h3 {
  font-family: 'Oswald', 'Roboto', sans-serif;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: #141414;
  }
}
